<div align="center" class="page-header"><h1>Photos added by Users</h1></div>

<div align="center">
	<div class="center">
		<div align="center">
			<%= will_paginate %>
				<% @photos.each do | photo | %>
					<div class="media-left">
						<h4><%= photo.title %></h4>
			    		<%= link_to image_tag(photo.image.url(:thumb), class: 'media-object'), photo.image.url, target: '_blank' %>
			    		<p><%= link_to "photo by #{photo.user.name}", photo_path(photo.user.id) %></p>
			    		<% if logged_in? && (current_user == photo.user || current_user.admin?) %>
		    			<%= link_to "edit this photo", edit_photo_path(photo), class: "btn btn-xs btn-primary" %>
			 			<%= link_to 'Delete', photo_path(photo), class: 'btn btn-xs btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
						<% end %> 
			  		</div>

				<% end %>
			<%= will_paginate %>
		</div>	
	</div>	
</div>	